.UnitControl {
    position: absolute;
    left: 5vw;
    top: 0;
}
@media only screen and (max-width: 1025px) and (orientation:landscape) {
    .UnitControl {
        position: absolute;
        left: 25vw;
        top: 0;
    }
}
@media only screen and (max-width: 1025px) and (min-width: 600px)  and (orientation:portrait) {
    .UnitControl {
        position: absolute;
        left: 15vw;
        top: 0;
    }
}
@media only screen and (min-width: 1025px) {
    .UnitControl {
        left: 30%;
    }
}